.project_container{
    padding: 13vh 7vw;
    background-color: #eaecef;
}

.project_container h1{
    font-size: 40px;
    font-weight: 300;
}

.view_project{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view_project p{
    font-size: 20px;
    margin: 1rem 0;
}

.view_btn{
    background-color: #524789;
    height: 40px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eaecef;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.projects{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.project{
    max-width: 350px;
}

.project img{
    max-height: 210px;
    border-radius: 10px;
}

.project h3{
    margin: 10px 0;
    font-size: 32px;
    font-weight: 400;
}


@media (max-width:1250px){
    .project_container{
        width: 100vw;
    }

    .projects{
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .project{
        max-width: 900px;
        display: flex;
    }

    .project img{
        max-height: 250px;
        border-radius: 10px;
    }

    .project_info{
        margin-left: 1rem;
    }
}

@media (max-width:900px){
    .project_container{
        margin-top:0 ;
    }
    .service_info{
        display: none;
    }
}

@media (max-width:750px){
    .project_container h1{
        font-size: 26px;
    }

    .project_container p{
        font-size: 16px;
        width: 65%;
    }

    .view_btn{
        font-size: 13px;
    }

    .project{
        flex-direction: column;
    }

    
}

@media (max-width:500px){
    .project img{
        max-height: 150px;
        border-radius: 10px;
    }
}